body {
    overflow-x: hidden;
}
.responsiveImage{
    width: 100%;
}
.Mpage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 28px;
    gap: 20px;
    background: #FFFFFF;
}
.MLinecontainer{
    width: 100%;
    border: 2px solid #000000;
    margin: auto; /* This will center the element */
}


.MC1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 60px;
}

.MC2{
    width: 319px;
    height: 60px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 39px;
    line-height: 120%;
    /* identical to box height, or 47px */
    
    color: #000000;
}

.MC3{
    width: 319px;
    height: 60px;
    
    font-family: 'YDIYGO330';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    /* or 20px */
    
    color: #000000;
    
}
.MC4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 28px;

    
    background: #FFFFFF;
}
.MC5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 28px 0px;
    
    background: #FFFFFF;
}
.MC6{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    width: 100%;
    height: 94px;
    

}

.MC7{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.MC8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
}

.Member{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.Member > p0{
    width: 72px;
    
    
    font-family: 'YDIYGO330';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    /* identical to box height, or 39px */
    
    color: #000000;
}
.Member > p1{
    width: 217px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    /* or 39px */
    
    color: #000000;
}
.MC7 > p0{

    width: 159.5px;
    
    
    font-family: 'YDIYGO340';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 20px */
    
    color: #000000;
}
.MC7 > p1{
    width: 159.5px;
    
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 20px */
    text-align: right;
    
    color: #000000;
}

.MC6 > p1{
    width: 167px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 200%;
    /* identical to box height, or 26px */
    text-align: right;
    
    color: #000000;
}
.MC6 > p0{
    width: 100%;
    
    
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 120%;
    /* or 47px */
    
    color: #000000;
}
.MC5 > p{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 150%;
    /* identical to box height, or 39px */
    text-align: center;
    
    color: #000000;
}
.MC4 > p{
    /* font-family: 'Avenir'; */
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    /* identical to box height, or 39px */
    text-align: center;
    
    color: #000000;
    
}
.MC1 > p0{
    width: 159px;;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 20px */
    
    color: #000000;
}

.MC1 > p1{
    width: 260px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 20px */
    text-align: right;
    
    color: #000000;

    
}

.responsiveImage {
    width: 100%;
    height: auto;
    position: relative;
}
