@font-face {
	font-family: "Avenir";
	src: url(../../fonts/AvenirLTStd-Roman.ttf);
}

.container {
	position: fixed;
	display: flex;
	flex-direction: row;
	background: rgba(255, 255, 255, 0.2);
	border-top: 2px solid rgba(255, 255, 255, 0.75);
	box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(40px);
	left: 0px;
	bottom: 0px;
	height: 100px;
	width: 100%;
	cursor: default;

	align-items: center;
}

.team {
	/* MJU Division of Design CLOVER Final Exhibition 2024 */
	width: 300px;
	height: 60px;
	margin-left: 20px;

	font-family: "Avenir";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
}

.location {
	/* Maru Art Center 3F The Second Gallery */
	width: 204px;
	height: 60px;
	margin-left: 18.177%;

	font-family: "Avenir";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
}

.instagram {
	/* Instagram */

	position: absolute;
	width: 89px;
	height: 30px;
	right: 20px;

	font-family: "Avenir";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	/* identical to box height, or 30px */
	text-decoration-line: underline;
}
