@font-face {
	font-family: "Avenir";
	src: url(../../../font/AvenirLTStd-Black.ttf);
}

@font-face {
	font-family: "neulis";
	src: url(../../../font/neulis.rar);
}

@font-face {
	font-family: "yoon";
	src: url(../../../font/-330-smha1177.ttf);
}

.header-container {
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100px;
	width: 100%;
	background-image: url('../../../public/img/headerbackgorund color.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: default;
	border-bottom: 2px solid white;
}

.logo-left {
	width: 141px;
	height: 24px;
	left: 20px;
	top: 35px;
	flex-shrink: 0;
	margin-left: 20px;
	margin-top: 20px;
	
}

.nav-element {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
	width: 675px;
	height: 36px;
}

.nav-element > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-element > div > p {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 150%;
	/* identical to box height, or 36px */
	text-align: center;
	
	color: #F1F1F1;
}

.record-icon {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-left: 5px;

	background: #fd4d4d;
	color: #fd4d4d;
}

.logo-right {
	width: 142.23px;
	height: 20.46px;
	margin-right: 49.77px;
	margin-top: 23px;
	color: #FFFFFF;
}
