@font-face {
	font-family: "Avenir";
	src: url(../../../font/Avenir.ttc);
}

@font-face {
	font-family: "neulis";
	src: url(../../../font/neulis.rar);
}

@font-face {
	font-family: "yoon";
	src: url(../../../font/-330-smha1177.ttf);
}

.header-container {
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100px;
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: default;
}

.logo-left {
	width: 140.8px;
	height: 25.27px;
	flex-shrink: 0;
	margin-left: 20px;
	margin-top: 30px;
}

.nav-element {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
	width: 675px;
	height: 36px;
}

.nav-element > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-element > div > p {
	color: #000;
	font-family: "Avenir";
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 150%;
	margin: 0;
}

.record-icon {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-left: 5px;

	background: #fd4d4d;
	color: #fd4d4d;
}

.logo-right {
	width: 142.23px;
	height: 20.46px;
	flex-shrink: 0;
	margin-right: 19.8px;
	margin-top: 35px;
}
