*{
    margin: 0;
    padding: 0;
}
.backcolor{
    width: 100%;
    height: 100vh;
    position: fixed;
}
.firstani{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.secondani{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.trdani{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.trdaniout{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}
@keyframes trdout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.trdaniout{
    animation: trdout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}
.forthani{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.fstpencilct{
    margin-top: 45px;
    justify-content: center;
    display: flex;
}
.fstpencil{
    width: 2500px;
    height: 1920px;
    left: calc(50% - 2500px/2);
    top: calc(50% - 1920px/2);
    flex-shrink: 0;
}
@keyframes firstpencil{
    0%{
        transform: translateY(0);
        scale : 1;
    }
    100%{
        transform: translateY(540px);
        scale : 0.25;
    }
}
.fstpencilct{
    animation: firstpencil 1s cubic-bezier(0.75,0,0.25,1) 2.25s forwards;
    /* transform: translateY(540px);
    scale: 0.25; */
}
.starttitle{
    margin-top: 205px;
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;
    color: #FFFFFF;
}
@keyframes sttitle{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.starttitle{
    animation: sttitle 0.35s cubic-bezier(0.15,1,0.5,1) 2.35s forwards;
}
.secondct{
    margin-top: 200px;
    gap: 70px;
    width: 100%;
    height: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
}
.secpencil{
    width: 375px;
    height: 375px;
    opacity: 0;
}
@keyframes Secpencil {
    0%{
        transform: translateY(270px);
        scale: 0.75;
        opacity: 0;
        
    }
    100%{
        transform: translateY(0);
        scale: 1;
        opacity: 1;

    }
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-10deg);
    }
}
.secpencil{
    animation: Secpencil 0.75s cubic-bezier(0.15,1,0.5,1) 0s forwards;
    /* animation: rotate 20s linear 0s infinite; */
}
.sectape{
    width: 400px;
    height: 400px;
    opacity: 0;
}
@keyframes Sectape {
    0%{
        transform: translateY(270px);
        scale: 0.75;
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        scale: 1;
        opacity: 1;
    }
}
.sectape{
    animation: rotate 20s linear 0s infinite;
    animation: Sectape 0.75s cubic-bezier(0.15,1,0.5,1) 0.2s forwards;
    
}
.firstment{
    opacity: 0;
    margin-top: 85px;
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes fstment {
    0%{
        transform: translateY(80px);
        scale: 0.75;
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        scale: 1;
        opacity: 1;
    }
}
.firstment{
    animation: fstment 0.75s cubic-bezier(0.15,1,0.5,1) 0.4s forwards;  
}
.firstmentout{
    opacity: 1;
    margin-top: 85px;
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes fstmentout {
    0%{
        transform: translateY(0);
        opacity: 1;

    }
    100%{
        transform: translateY(-80px);
        opacity: 0;
    }
}
.firstmentout{
    animation: fstmentout 0.75s cubic-bezier(0.15,1,0.5,1) 0.4s forwards;  
}
.secondment{
    opacity: 0;
    /* margin-top: 85px; */
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes secment {
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateY(-90px);
        opacity: 1;
    }
}
.secondment{
    animation: secment 0.75s cubic-bezier(0.15,1,0.5,1) 4.4s forwards;
}
.secondmentout{
    opacity: 1;
    /* margin-top: 85px; */
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes secmentout {
    0%{
        transform: translateY(-90px);
        opacity: 1;
    }
    100%{
        transform: translateY(-90px);
        opacity: 0;
    }
}
.secondmentout{
    animation: secmentout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}

.pencilout{
    width: 375px;
    height: 375px;
}
@keyframes Pencilout {
    0%{
        scale: 1;
        opacity: 1;
        
    }
    100%{
        scale: 0.5;
        opacity: 0;
    }
}
.tapeout{
    width: 400px;
    height: 400px;
}
@keyframes Tapeout {
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 0.5;
        opacity: 0;
    }
}
.pencilout{
    animation: Pencilout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}
.tapeout{
    animation: Tapeout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}
.justthat{
    opacity: 0;
    margin-top: 205px;
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);

}
@keyframes justment {
    0%{
        transform: translateY(80px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.justthat{
    animation: justment 1s cubic-bezier(0.25,1,0.25,1) 0.75s forwards;
}
.scrollct{
    margin-top: 72px;
    width: 100%;
    height: 270px;
    align-items: center;
    display: flex;
}
@keyframes scrct {
    0%{
        transform: translateY(540px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.scrollct{
    animation: scrct 1s cubic-bezier(0.25,1,0.25,1) 0s forwards;
}
.exclude{
    z-index: 1;
    position: absolute;
    /* margin-top: 72px; */
    box-sizing: border-box;
    /* background: rgba(255, 255, 255, 0.25); */
    /* border: 3px solid rgba(255, 255, 255, 0.25); */
    /* backdrop-filter: blur(25px); */
}
@keyframes exc {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(500px);
    }
}
@keyframes excout {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateY(1000px);
    }
}
.exclude{
    animation: exc 0.75s cubic-bezier(0.25,1,0.25,1) 1.5s forwards;
}
.lastmentct{
    /* margin-top: 45px; */
    position: relative;
    align-items: center;
    width: 100%;
    height: 180px;
    /* height: 180px; */
    box-sizing: border-box;
    border-width: 3px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.25);
    overflow: auto;
    overflow-x:hidden;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.lastment{
    /* z-index: 4; */
    padding-left: 50%;
    /* position: absolute; */
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 150%;
    /* identical to box height, or 180px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
.mousement{
    margin-top: 140px;
    font-family: 'YDIYGO340';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    /* identical to box height, or 38px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}

@keyframes mentreading {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-9800px);
    }
}
.lastment{
    animation: mentreading 24s cubic-bezier(0.25,0.25,0.25,0.25) 3s forwards;
}

.cardmakingtitle{
    opacity: 0;
    margin-top: 205px;

    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes cardment {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.cardmakingtitle{
    animation: cardment 0.75s cubic-bezier(0.15,1,0.5,1) 0.45s forwards;
}
.cardct{
    margin-top: 70px;
    justify-content: center;
    display: flex;
}
.card{
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 35px;

    opacity: 0;
    width: 300px;
    height: 428.15px;

    display: flex;
    
    justify-content: center;
    align-items: center;

    text-align: center;
}
@keyframes Card {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes Cardrotate {
    0%{
        transform: rotateX('-50deg');
        transform: rotateY('-50deg');
        transform: rotateZ('-50deg');
    }
    50%{
        transform: rotateX('0');
        transform: rotateY('0');
        transform: rotateZ('0');
    }
    100%{
        
        transform: rotateX('50deg');
        transform: rotateY('50deg');
        transform: rotateZ('50deg');
    }
}
.card{
    animation: Cardrotate 5s linear 0.45s infinite;
    animation: Card 0.75s cubic-bezier(0.15,1,0.5,1) 0.45s forwards;
    
}
.question{
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 150%;
    /* identical to box height, or 300px */
    display: flex;
    
    justify-content: center;
    /* align-items: center; */

    text-align: center;

    color: #F2F5FF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);

}