*{
    margin: 0;
    padding: 0;
}
.backcolor{
    width: 100%;
    height: 100vh;
    position: fixed;
}
.firstani{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.secondani{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}
.trdani{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}
.trdaniout{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}
@keyframes trdout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.trdaniout{
    animation: trdout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}
.forthani{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
}
.forthaniout{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 1;
    pointer-events: none;
}
@keyframes forthout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.forthaniout{
    animation: forthout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}
.fstpencilct{
    margin-top: 45px;
    justify-content: center;
    display: flex;
}
.fstpencil{
    width: 2500px;
    height: 1920px;
    left: calc(50% - 2500px/2);
    top: calc(50% - 1920px/2);
    flex-shrink: 0;
}
@keyframes firstpencil{
    0%{
        transform: translateY(0);
        scale : 1;
    }
    100%{
        transform: translateY(540px);
        scale : 0.25;
    }
}
.fstpencilct{
    animation: firstpencil 1s cubic-bezier(0.75,0,0.25,1) 2.25s forwards;
    /* transform: translateY(540px);
    scale: 0.25; */
}
.starttitle{
    margin-top: 205px;
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;
    color: #FFFFFF;
}
@keyframes sttitle{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.starttitle{
    animation: sttitle 0.35s cubic-bezier(0.15,1,0.5,1) 2.35s forwards;
}
.secondct{
    margin-top: 200px;
    gap: 70px;
    width: 100%;
    height: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
}
.secpencil{
    width: 375px;
    height: 375px;
    opacity: 0;
}
@keyframes Secpencil {
    0%{
        transform: translateY(270px);
        scale: 0.75;
        opacity: 0;
        
    }
    100%{
        transform: translateY(0);
        scale: 1;
        opacity: 1;

    }
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-10deg);
    }
}
.secpencil{
    animation: Secpencil 0.75s cubic-bezier(0.15,1,0.5,1) 0s forwards;
    /* animation: rotate 20s linear 0s infinite; */
}
.sectape{
    width: 400px;
    height: 400px;
    opacity: 0;
}
@keyframes Sectape {
    0%{
        transform: translateY(270px);
        scale: 0.75;
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        scale: 1;
        opacity: 1;
    }
}
.sectape{
    animation: rotate 20s linear 0s infinite;
    animation: Sectape 0.75s cubic-bezier(0.15,1,0.5,1) 0.2s forwards;
    
}
.firstment{
    opacity: 0;
    margin-top: 85px;
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes fstment {
    0%{
        transform: translateY(80px);
        scale: 0.75;
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        scale: 1;
        opacity: 1;
    }
}
.firstment{
    animation: fstment 0.75s cubic-bezier(0.15,1,0.5,1) 0.4s forwards;  
}
.firstmentout{
    opacity: 1;
    margin-top: 85px;
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes fstmentout {
    0%{
        transform: translateY(0);
        opacity: 1;

    }
    100%{
        transform: translateY(-80px);
        opacity: 0;
    }
}
.firstmentout{
    animation: fstmentout 0.75s cubic-bezier(0.15,1,0.5,1) 0.4s forwards;  
}
.secondment{
    opacity: 0;
    /* margin-top: 85px; */
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes secment {
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateY(-90px);
        opacity: 1;
    }
}
.secondment{
    animation: secment 0.75s cubic-bezier(0.15,1,0.5,1) 4.4s forwards;
}
.secondmentout{
    opacity: 1;
    /* margin-top: 85px; */
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes secmentout {
    0%{
        transform: translateY(-90px);
        opacity: 1;
    }
    100%{
        transform: translateY(-90px);
        opacity: 0;
    }
}
.secondmentout{
    animation: secmentout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}

.pencilout{
    width: 375px;
    height: 375px;
}
@keyframes Pencilout {
    0%{
        scale: 1;
        opacity: 1;
        
    }
    100%{
        scale: 0.5;
        opacity: 0;
    }
}
.tapeout{
    width: 400px;
    height: 400px;
}
@keyframes Tapeout {
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 0.5;
        opacity: 0;
    }
}
.pencilout{
    animation: Pencilout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}
.tapeout{
    animation: Tapeout 0.35s cubic-bezier(0.15,1,0.5,1) 0s forwards;
}
.justthat{
    opacity: 0;
    margin-top: 205px;
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);

}
@keyframes justment {
    0%{
        transform: translateY(80px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.justthat{
    animation: justment 1s cubic-bezier(0.25,1,0.25,1) 0.75s forwards;
}
.scrollct{
    margin-top: 72px;
    width: 100%;
    height: 270px;
    align-items: center;
    display: flex;
}
@keyframes scrct {
    0%{
        transform: translateY(540px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.scrollct{
    animation: scrct 1s cubic-bezier(0.25,1,0.25,1) 0s forwards;
}
.exclude{
    z-index: 1;
    position: absolute;
    /* margin-top: 72px; */
    box-sizing: border-box;
    /* background: rgba(255, 255, 255, 0.25); */
    /* border: 3px solid rgba(255, 255, 255, 0.25); */
    /* backdrop-filter: blur(25px); */
}
@keyframes exc {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(500px);
    }
}
@keyframes excout {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateY(1000px);
    }
}
.exclude{
    animation: exc 0.75s cubic-bezier(0.25,1,0.25,1) 1.5s forwards;
}
.lastmentct{
    /* margin-top: 45px; */
    position: relative;
    align-items: center;
    width: 100%;
    height: 180px;
    /* height: 180px; */
    box-sizing: border-box;
    border-width: 3px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.25);
    overflow: auto;
    overflow-x:hidden;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.lastment{
    /* z-index: 4; */
    padding-left: 50%;
    /* position: absolute; */
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 150%;
    /* identical to box height, or 180px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
.mousement{
    margin-top: 140px;
    font-family: 'YDIYGO340';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    /* identical to box height, or 38px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
/*스크롤 */

@keyframes mentreading {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-10300px);
    }
}
.lastment{
    animation: mentreading 24s cubic-bezier(0.25,0.25,0.25,0.25) 3s forwards;
}

.cardmakingtitle{
    opacity: 0;
    margin-top: 205px;

    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
@keyframes cardment {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.cardmakingtitle{
    animation: cardment 0.75s cubic-bezier(0.15,1,0.5,1) 0.45s forwards;
}
.cardct{
    margin-top: 70px;
    justify-content: center;
    display: flex;
}
.card{
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 35px;

    opacity: 0;
    width: 300px;
    height: 428.15px;

    display: flex;
    
    justify-content: center;
    align-items: center;

    text-align: center;
    /* transform: perspective(2400px); */
}
@keyframes Card {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes Cardrotate {
    0%{
        transform: rotate3d(0)
    }
    100%{
        transform: rotate3d(1,1,1,-5deg);
    }
}
@keyframes Cardrotate1 {
    0%{
        transform: rotate3d(0)
    }
    100%{
        transform: rotate3d(1,1,1,-5deg);
    }
}
.card{
    transform: rotateX('50deg');
    animation: Cardrotate 5s linear 0.45s forwards;
    animation: Card 0.75s cubic-bezier(0.15,1,0.5,1) 0.45s forwards;
    
}
.question{
    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 150%;
    /* identical to box height, or 300px */
    display: flex;
    
    justify-content: center;
    /* align-items: center; */

    text-align: center;

    color: #F2F5FF;

    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);

}
/* 5번째 화면 */
.fifthani{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 99;
    justify-content: center;
	align-items: center;
    position: static;
}
.fifthct{
    display: flex;
    width: 1310px;
    height: 515px;
    flex-shrink: 0;
    flex-direction: row;
}
.fifthct1{
    /* opacity: 0; */
    width: 360px;
    height: 515px;
    /* flex-shrink: 0; */
    border-radius: 35px;
    border: 3px solid #FFF;
    background-color: 	#90AFFF;
    /* background: rgba(255, 255, 255, 0.40); */
    /* box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.20), 0px 4px 20px 0px rgba(211, 255, 56, 0.25) inset, 0px 3px 200px 0px rgba(255, 255, 255, 0.10) inset; */
    backdrop-filter: blur(5px);
    margin-right: 200px;
}
/* @keyframes fifcard {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.fifthct1{
    animation: fifcard 0.75s cubic-bezier(0.15,1,0.5,1) 0.5s forwards;
} */
.fifthcd1{
    display: flex;
    width: 360px;
    height: 295px;
    border-bottom: 3px solid #FFF;
    background: linear-gradient(180deg, rgba(211, 255, 56, 0.00) 0%, rgba(211, 255, 56, 0.10) 100%);
    overflow:hidden;
}
.fifthcd1 > img {
    width: 1626px;
    height: 1248px;
    margin-left: -627px;
    display:inline-block;
}
.fifthcd2{
    padding: 30px;
    width: 360px;
    height: 220px;

    font-family: 'YDIYGO350';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */

    color: #FFFFFF;
}
.fifthcd2 > p{
    padding-top: 20px;
    padding-right: 60px;
    font-family: 'YDIYGO330';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    color: #FFFFFF;
}
.fifthct2{
    width: 720px;
    height: 367px;
    margin-top: 76px;
    text-align: center;
}
.fifthtxt1{
    width: 740px;
    margin-bottom: 20px;
    opacity: 0;
}
@keyframes fiftext1 {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.fifthtxt1{
    animation: fiftext1 0.75s cubic-bezier(0.15,1,0.5,1) 0.7s forwards;
}
.fifthtxt1 > p{
    color: #FFF;
    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.20);
    font-family: YDIYGO350;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 78px */
    text-align: start;
}
.fifthtxt2{
    width: 740px;
    opacity: 0;
}
@keyframes fiftext2 {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.fifthtxt2{
    animation: fiftext2 0.75s cubic-bezier(0.15,1,0.5,1) 0.9s forwards;
}
.fifthtxt2 > p{
    color: #FFF;
    text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.20);
    font-family: YDIYGO330;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    margin-bottom: 60px;
    text-align: start;
}
.fifthtxt3{
    opacity: 0;
    display: flex;
    width: 740px;
    height: 79px;
    flex-direction: row;
}
@keyframes fifbut {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.fifthtxt3{
    animation: fifbut 0.75s cubic-bezier(0.15,1,0.5,1) 1.1s forwards;
}
.fifthbutt1{
    cursor: pointer;
    width: 304px;
    height: 79px;
    margin-right: 30px;
}
.imgbutt{
    cursor: pointer;

    width: 304px;
    height: 79px;
    display: inline-flex;
    padding: 20px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(2.5px);
    color: #FFF;
}
.imgbutt > p{
    width: 204px;
    height: 39px;
    font-family: YDIYGO350;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    text-align: start;
}
.fifthbutt2{
    width: 305px;
    height: 79px; 
}
.backbutt{
    cursor: pointer;
    width: 305px;
    height: 79px;
    display: inline-flex;
    padding: 20px 97px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(2.5px);  
    color: #FFF;
}
.backbutt > p {
    width: 111px;
    height: 39px;
    font-family: YDIYGO350;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */
    text-align: start;
}

.BackButton{
/* 뒤로가기 */

position: absolute;
width: 100px;
height: 100px;
left: 75px;
top: 195px;
cursor: 'pointer'


}

/* .Ct01 > img{
    width: 200px;
    height: 199.98px;
    
    filter: drop-shadow(0px 3px 18px rgba(0, 0, 0, 0.2));

} */

.Ct01{
/* 해당 레이아웃 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 50px;

position: absolute;
width: 770px;
height: 585px;
left: calc(50% - 770px/2);
top: calc(50% - 385px/2 + 9.94px);


}


.Ct02{
/* Frame 72 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 20px;
gap: 20px;

width: 453px;
height: 206px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.Ct03{
/* 이미지 저장하기 */

width: 408px;
height: 90px;

font-family: 'YDIYGO350';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 150%;
/* identical to box height, or 90px */

color: #FFFFFF;

text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.Ct04{
/* {용욱}님의 연필을 소중히 간직할 수 있어요 카메라로 아래 QR코드를 찍어주세요 */

width: 453px;
height: 76px;

font-family: 'YDIYGO320';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150%;
/* or 38px */

color: #FFFFFF;

text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.Ct05{
/* Frame 73 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 40px;

width: 693px;
height: 206px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}
.Ct06{
    /* Frame 246 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;

width: 316px;
height: 79px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}
.blankC{
/* Line 8 */

width: 770px;
height: 0px;

border: 2px solid rgba(255, 255, 255, 0.75);
box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.back{
    /* Frame 28 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 50px;

width: 211px;
height: 79px;

background: rgba(255, 255, 255, 0.25);
border: 3px solid rgba(255, 255, 255, 0.75);
box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.back > p{
/* 처음으로 */

width: 111px;
height: 39px;

font-family: 'YDIYGO350';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 130%;
/* identical to box height, or 39px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

.loding1{
    position: absolute;
    justify-self: right;
    padding-left: 1800px;
    padding-bottom: 580px;
    z-index: 5;
}
@keyframes lod1 {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.loding1{
    animation: lod1 1s linear 1s forwards;
}
.loding2{
    animation: lod1 1s linear 2s forwards;
}
.loding3{
    animation: lod1 1s linear 3s forwards;
}
.loding4{
    animation: lod1 1s linear 4s forwards;
}
.loding2{
    position: absolute;
    justify-self: right;
    padding-left: 1800px;
    padding-bottom: 580px;
    z-index: 4;
    /* transform: rotate(40deg);
    transition-duration: 1s; */
}
.loding3{
    position: absolute;
    justify-self: right;
    padding-left: 1800px;
    padding-bottom: 580px;
    /* transform: rotate(40deg);
    transition-duration: 1s; */
    z-index: 3;
}
.loding4{
    position: absolute;
    justify-self: right;
    padding-left: 1800px;
    padding-bottom: 580px;
    /* transform: rotate(40deg);
    transition-duration: 1s; */
    z-index: 2;
}
.loding5{
    position: absolute;
    justify-self: right;
    padding-left: 1800px;
    padding-bottom: 580px;
    /* transform: rotate(40deg);
    transition-duration: 1s; */
    z-index: 1;
}