.container{
    width: 375px;
    height: 821px;
    background-color: #E5FD4D;
}
.smartContainer{
    height: 100px;
}
.cardContainer{
    height: 100px;
}
.cardName{
    display: flex;
    width: 201px;
    height: 30px;
    margin-left: 87px;
    margin-right: 87px;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
}
.titleContainer{
    height: 150px;
}
.titleName{
    display: flex;
    width: 334px;
    height: 100px;
    margin-left: 20.5px;
    margin-right: 20.5px;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    display: flex;
    border-color: white;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'NotoSansKR';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}
.blankContainer{
    height: 380px;
}
.openContainer{
    height: 91px;
}
.openButton{
    display: flex;
    width: 334px;
    height: 65px;
    margin-left: 20.5px;
    margin-right: 20.5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    display: flex;
    border-color: white;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'NotoSansKR';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}