@font-face {
	font-family: "YDIYGO340";
	font-style: normal;
	font-weight: 100;
	src: url(../../../../fonts/YDIYGO340.woff) format("woff"),
		url(../../../../fonts/YDIYGO340.ttf) format("truetype");
}

.title {
	width: 319px;
	margin-top: 30px;
	margin-left: 14px;
	margin-bottom: 60px;
}

.title > p {
	margin: 0;

	font-family: "YDIYGO340";
	font-style: normal;
	font-weight: 800;
	font-size: 39px;
	line-height: 130%;
	/* or 51px */

	color: #f1f1f1;

	text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
