.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "YDIYGO310";
  font-style: normal;
  font-weight: 100;
  src: local("YDIYGO310")
  url("../src/fonts/YDIYGO310.woff");
}
@font-face {
  font-family: "YDIYGO320";
  font-style: normal;
  font-weight: 100;
  src: local("YDIYGO320")
  url("../src/fonts/YDIYGO320.woff");
}
@font-face {
  font-family: "YDIYGO330";
  font-style: normal;
  font-weight: 100;
  src: local("YDIYGO330")
  url("../src/fonts/YDIYGO330.woff");
}
@font-face {
  font-family: "YDIYGO340";
  font-style: normal;
  font-weight: 100;
  src: local("YDIYGO340")
  url("../src/fonts/YDIYGO340.woff") format('woff');
}
@font-face {
  font-family: "YDIYGO350";
  font-style: normal;
  font-weight: 100;
  src: local("YDIYGO350")
  url("../src/fonts/YDIYGO350.woff") format('woff');
}